extends layout.pug

block content
  .container.mt-5
    h1.text-center.mb-4 My Amazing App
    if registrations.length
      table.table.table-striped.mt-4.table-dark
        thead
          tr
            th Name
            th Email
        tbody
          each registration in registrations
            tr
              td= registration.name
              td= registration.email
    else
      p.mt-4 No registrations yet :(

